body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    padding: 28px 12px;
    color: #000;
    background: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    padding: 0px 40px;
}

input[type=text],
button {
    font-family: inherit;
    border-radius: 8px;
    padding: 10px 14px;
    border: 1px solid #333;
}

button {
    cursor: pointer;
    background: #000;
    color: #fff;
    font-weight: 600;
}

#locationName {
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
}

#summaryCard {
    width: 500px;
    padding: 8px 15px;
    justify-self: center;
}

main {
    margin-top: 40px;
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.day {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 16px 20px;
    margin-bottom: 32px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.day .date {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 12px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    border-bottom: 1px solid #f0f0f0;
}

.row:last-child {
    border-bottom: none;
}

.row p {
    margin: 0;
    font-size: 20px;
}

.temp {
    color: #000000;
}

.precip {
    color: #000000;
}

.humidity {
    color: #000000;
}

.wind {
    color: #000000;
}

.cloud {
    color: #797979;
}

footer {
    margin-top: 20px;
    font-size: 13px;
    color: #555;
}

@media(max-width:800px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #searchForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 300px;
        gap: 8px;
    }

    #searchForm>button {
        width: 200px;
    }

    #cityInput {
        width: 100%;
        text-align: center;
    }

    #locationName {
        font-size: 18px;
    }

    #summaryCard {
        width: 327px;
    }

    #cards {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .day {
        padding: 14px;
    }
}