@media (max-width: 479px) {
  body { padding: 0; }

  #search-box { flex-direction: column; gap: 0.5rem; }
  #search-box input, #search-box button { width: 100%; flex: none; box-sizing: border-box; }
  #search-box input { border-radius: 0.5rem 0.5rem 0 0; text-align: center; }
  #search-box button { border-radius: 0 0 0.5rem 0.5rem; }

  #current-location { font-size: 0.9rem; }
  #open-meteo-reference { font-size: 0.8rem; }

  .weather-card { padding: 1.5rem 1.5rem; }
  .weather-card h2 { text-align: center; }
  .weather-card h2 span { font-size: 1rem; }

  .weather-info, .extra-info-daily { justify-content: center; }
  #weather-info-now { display: grid; grid-template-columns: 1fr; }
  #weather-info-now div { text-align: center;}

  /* Grid 2x2 para períodos */
  .periods {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
